<!DOCTYPE html>
<html class="default_colors_property">
<base href="<!-- base-slot -->" target="">
  <head>
    <meta name="description" content="<!-- description-slot -->">
          <!-- stdhead-slot -->

  </head>

  <body>

          <!-- navbar-slot -->
    <div class="layout">


          <!-- myinfo-slot -->
      <main class="content">

        <h1>Feed</h1>
        <div class="feed">
          <!-- Feed-slot -->
        </div>
      </main>
    </div>
      <!-- footer-slot -->
  </body>
</html> 

