<!DOCTYPE html>
<html class="default_colors_property">
  <base href="<!-- base-slot -->" target="">
  <head>
    <link rel="stylesheet" href="rsc/css/post.css">
    <meta name="description" content="<!-- description-slot -->">
    <title>Execius : <!-- title-slot --></title>
          <!-- stdhead-slot -->
  </head>

  <body>
          <!-- navbar-slot -->

    <div class="layout">
      <main class="content">

        <div class="post">
          <!-- post-slot -->
        </div>
      </main>
    </div>
  </body>
      <!-- footer-slot -->
</html> 

